#section4{
    /* border: 2px solid ; */
    height: 1700px;
}
#section4 h1{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
}
#div4a{
    /* border: 2px solid; */
    height: 400px;
    margin-top: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}
#div4a div{
    /* border: 2px solid blue; */
    height: 300px;
    width: 300px;
    /* top: 0; */
    border-radius: 10px;
    background-image: url(./bc989f2d-eca8-4bcf-a9b0-b70b8e685a64.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
#div4a div+div{
    background-image: url(./ae3426d1-fba4-44d4-bed2-690426f25f7a.webp);
    background-repeat: no-repeat;
    background-position: center;
}
#div4a div+div+div{
    background-image: url(./bd73f0f8-9057-4bbc-ad70-1db13eb5c03f.webp);
}
#div2b div+div+div+div{
    background-image: url(./ced15ffe-0ab5-48cf-a189-dbdeaaf04387.webp);
}

#div4a div button{
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    margin-left: 250px;
    margin-top: 10px;
    cursor: pointer;
}
#div4a h4{
    margin-top: 260px;
}



#div4b{
    /* border: 2px solid; */
    height: 400px;
    margin-top: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}
#div4b div{
    /* border: 2px solid blue; */
    height: 300px;
    width: 300px;
    /* top: 0; */
    border-radius: 10px;
    background-image: url(./c92634d0-4964-439a-905d-b9129af14d34.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
#div4b div+div{
    background-image: url(./99417998-fa44-4c75-ae77-287c1468977b.webp);
    background-repeat: no-repeat;
    background-position: center;
}
#div4b div+div+div{
    background-image: url(./872f434b-9348-4ff1-8c6f-754fdbab4010.webp);
}
#div4b div+div+div+div{
    background-image: url(./b676fc8d-8250-4df0-a7cb-728b0486e371.webp);
}

#div4b div button{
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    margin-left: 250px;
    margin-top: 10px;
    cursor: pointer;
}
#div4b h4{
    margin-top: 260px;
}



#div4c{
    /* border: 2px solid; */
    height: 400px;
    margin-top: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}
#div4c div{
    /* border: 2px solid blue; */
    height: 300px;
    width: 300px;
    /* top: 0; */
    border-radius: 10px;
    background-image: url(./fb9dcb8d-7fa5-402f-91ae-fa2a26e9f097.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
#div4c div+div{
    background-image: url(./e6b26733-2c15-47d9-b097-6968b39bb697.webp);
    background-repeat: no-repeat;
    background-position: center;
}
#div4c div+div+div{
    background-image: url(./b16970cf-1d55-4edd-bb1f-e1735d0a228e.webp);
}
#div4c div+div+div+div{
    background-image: url(./d106e0ef-f825-4ff8-baf7-86256a54fbd5.webp);
}

#div4c div button{
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    margin-left: 250px;
    margin-top: 10px;
    cursor: pointer;
}
#div4c h4{
    margin-top: 260px;
}


#div4d{
    /* border: 2px solid; */
    height: 400px;
    margin-top: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}
#div4d div{
    /* border: 2px solid blue; */
    height: 300px;
    width: 300px;
    /* top: 0; */
    border-radius: 10px;
    background-image: url(./76f85a0c-b3e2-4f1d-9aa9-d7838f2393c6.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
#div4d div+div{
    background-image: url(./c67f78f1-5807-449a-9a88-753b7fa62d6a.webp);
    background-repeat: no-repeat;
    background-position: center;
}
#div4d div+div+div{
    background-image: url(./365299e3-f926-47ee-bcbf-606d6a0370b9.jpeg);
}
#div4d div+div+div+div{
    background-image: url(./be0957a9-da56-47d6-89ca-223b6e75321a.webp);
}

#div4d div button{
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    margin-left: 250px;
    margin-top: 10px;
    cursor: pointer;
}
#div4d h4{
    margin-top: 260px;
}
